<section class="w-full h-full bg-gray-200 flex justify-evenly">
  <div class="flex flex-col justify-evenly w-full px-5 items-center">
    <span class="">Home</span>

    <span class="">About</span>

    <span class=""> Contact Us</span>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="flex flex-col justify-evenly w-full px-5 items-center">
    <span class="">Terms of Service</span>

    <span class="">Privacy Policy</span>

    <span class="">Cookie Policy</span>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="flex flex-col justify-evenly w-full px-5 items-center">
    <span class="">Facebook</span>

    <span class="">Twitter</span>

    <span class="">Instagram</span>
  </div>
</section>
